{% extends 'base.html.twig' %}

{% block title %}Liste des équipes de Benet{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des équipes</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nom de l'équipe</th>
                <th>Entraîneur</th>
                <th>Nombre de joueurs</th>
            </tr>
        </thead>
        <tbody>
            {% for equipe in equipes %}
                <tr>
                    <td>{{ equipe.nom }}</td>
                    <td>{{ equipe.entraineur }}</td>
                    <td>{{ equipe.joueurs.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
