{% set numActualite = actualites|length %}
{% if numActualite > 0 %}
    {% for index, actualite in actualites|reverse %}
        {% if index < 3 %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ actualite.affiche }}" width="200" height="400" alt="Image actualite">
                <div class="card-body">
                    <h5 class="card-title">{{ actualite.nom }}</h5>
                    <p class="card-text">{{ actualite.lieu }}</p>
                    <a href="{{ path('actualite_voir', {'id': actualite.id}) }}" class="btn btn-primary">Voir le actualite</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% else %}
    <h1>Aucun actualite pour le moment</h1>
{% endif %}