{# templates/login.html.twig #}
{% extends 'base.html.twig' %}

{% block content %}
    <div class="login-container">
        <h2>Login</h2>
        <form class="login-form" action="#" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Sign in</button>
        </form>
        <div class="login-links">
            <a href="#">Forgot password?</a>
            <span>|</span>
            <a href="#">Register</a>
        </div>
    </div>
{% endblock %}
