// Import Bootstrap CSS
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
    background-color: EEEEEE;
}

// mettre une largeur max pour la navbar
// reduire de 25% la largeur de la navbar

.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// mettre a droite les reseaux sociaux
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-deck{
    display: flex;
    justify-content: center;
    align-items: center;
}