{% extends 'base.html.twig' %}

{% block title %}Benet Basket Club{% endblock %}

{% block body %}

<div class="container-home">
    <h1>Les nouveautés</h1>
    <div class="block-actualite"> {{ include('actualite/index.html.twig') }}</div>
</div>
{% endblock %}
